/* TAG GENERICI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

i, .avatar {
    cursor: pointer;
}

#bg-green {
    height: 15vh;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(255,205,96,1) 100%);
}

#bg-grey {
    height: 85vh;
    background-color: #d5dbd8;
}

.container {
    position: absolute;
    top: 20px;
    left: 50px;
    right: 50px;
    bottom: 20px;
    display: flex;
}
/* CONTAINER LEFT */
.container-left {
    width: 30%;
    background-color: white;
}
/* HEADER LEFT */
.header-left,
.header-right {
    height: 60px;
    background-color: #ededed;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left-avatar {
    width: 20%;
}

.header-left-avatar img {
    width: 40px;
    margin-left: 20px;
}

.header-left-icons {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.header-left i,
.header-right i,
.send i {
    font-size: 20px;
    color: #999999;
    margin-right: 30px;
    cursor: pointer;
}
/* NOTIFICATION */
.notification {
    height: 100px;
    background-color: #facd62;
    display: flex;
    align-items: center;
}

.notification-icon {
    width: 60px;
    height: 60px;
    background-color: white;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.notification-icon i {
    font-size: 25px;
    color: #26c1c1;
}
.notification-text {
    margin-left: 20px;
}

.notification-text h3 {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}

.notification-text p {
    font-size: 13px;
    color: #606060;
    text-decoration: underline;
    cursor: pointer;
}
/* SEARCH-BAR */
.search-bar {
    height: 50px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar-icon {
    position: absolute;
    left: 10px;
}

.search-bar-icon i {
    color: #999999;
    font-size: 12px;
    margin: 0 20px;
}

.search-bar-input {
    width: 95%;
}

.search-bar-input input {
    width: 100%;
    color: #d4d4d4;
    padding: 10px 60px;
    border-radius: 20px;
    border: none;
}
/* FRIENDS */
.friends {
    height: calc(100% - 210px);
    overflow-y: scroll;
}

.friend-chat {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #D0FFFB;
    border-bottom: 2px solid #ededed;
    cursor: pointer;
}

.friend-chat.active {
    background-color: #26c1c1;
}

.friend-chat-avatar {
    width: 25%;
    display: flex;
    justify-content: center;
}

.friend-chat-avatar img {
    width: 60px;
}

.friend-chat-text {
    width: 60%;
}

.friend-chat-text h3 {
    font-size: 16px;
    padding-bottom: 5px;
}

.friend-chat-text p {
    font-size: 13px;
    color: #999999;
}

.friend-chat-hour {
    width: 15%;
    align-self: flex-start;
}

.friend-chat-hour p {
    font-size: 12px;
    color: #999999;
    padding-top: 23px;
}
/* CONTAINER RIGHT */
.container-right {
    width: 70%;
}
/* HEADER RIGHT */
.header-right {
    border-left: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}
.header-right-avatar {
    width: 10%;
    display: flex;
    justify-content: center;
}

.header-right-avatar img {
    width: 40px;
}

.header-right-text {
    width: 60%;
}

.header-right-text h3 {
    font-size: 15px;
}

.header-right-text p {
    font-size: 12px;
    color: #999999;
}

.header-right-icons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
/* CHAT */
.chat {
    height: calc(100% - 120px);
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F66.media.tumblr.com%2F44451ddf448de2235f8370c138b00121%2Ftumblr_ouztgbH0CG1vj8v9mo3_1280.png&f=1&nofb=1');
    background-size: contain;
    overflow-y: scroll;
    padding-top: 30px;
}

.chat-text {
    display: flex;
    align-items: center;
}

.chat-text-end {
    justify-content: flex-end;
}

.chat-text-start {
    justify-content: flex-start;
}

.chat-sent,
.chat-received {
    max-width: 35%;
    padding: 8px 10px 2px;
    border-radius: 10px;
    margin: 1px 80px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.chat-received {
    background-color: white;
}

.chat-sent {
    background-color: #dcf8c6;
}

.chat-text p {
    font-size: 15px;
    color: #252525;
    padding-right: 45px;
}

.chat-text small {
    font-size: 11px;
    color: #999999;
    align-self: flex-end;
    margin-top: -10px;
}
/* SEND */
.send {
    height: 60px;
    background-color: #ededed;
    border-left: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}

.send-emoji,
.send-vocal {
    width: 8%;
    display: flex;
    justify-content: center;
}

.send-emoji i,
.send-vocal i {
    font-size: 25px;
    margin-right: 0;
}

.send-vocal i {
    display: none;
}

.send-vocal i.active {
    display: block;
}

.send-input {
    width: 84%;
}

#send {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #999999;
}

.template {
    display: none;
}
